body {
    margin: auto;
    padding: 15px;
}

div {
    width: 350px;
}

.underline {
    text-decoration: underline;
}

.modifyText {
    color: red;
    font-weight: bold;
}

.highlight {
    background-color: orange;
} 

img {
    width: 345px;
    height: auto;
}